/* CSSのリセット（消さないでください） */
html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p,
form, input, div {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Avenir Next", "Hiragino Kaku Gothic ProN W3", sans-serif;
}

li {
  list-style: none;
}

/* ここからCSSを記述してください */
.header{
  height: 90px;
  background-color: #00008b;
  color: #fff;
}

.header-logo{
  font-size: 36px;
  font-weight: normal;
  float: left;
  padding: 20px 40px;
}

li{
  float: left;
  padding: 33px 20px;
}

.main{
  padding: 100px 80px;
}

h1{
  font-size: 140px;
}

h1 span{
  color: #ff4a4a;
}

h2{
  font-size: 60px;
}

.lesson{
  padding-left: 80px;
  padding-right: 80px;
}

.lesson h3{
  font-size: 28px;
  padding-bottom: 15px;
}

.contents{
  float: left;
  padding-right: 40px;
}

img{
  padding-bottom: 30px;
  padding-top: 50px;
}

.contents p{
  font-size: 24px;
}

.contact{
  clear: left;   /*progate内ではこの記述がなくてもOKだが、どうしても右寄りになってしまうのでここでは記述することにした*/
  padding: 100px 80px 80px 80px;
}

.contact h3{
  font-size: 28px;
  border-bottom: 2px solid #dee7ec;
  padding-bottom: 15px;
  margin-bottom: 20px;
}

.contact p{
  font-size: 18px;
  padding-top: 30px;
  padding-bottom: 10px;
}

input,textarea{
  font-size: 18px;
  padding: 20px;
  border: 1px solid #dee7ec;
  width: 400px;
}

.submit{
  background-color: #dee7ec;
  color: #889eab;
  width: 400px;    /*幅がinputとtextareaと同じにならない…*/
}

.footer{
  height: 120px;
  background-color: #2f5167;
  color: #fff;
  padding: 40px;
}

.footer-logo{
  font-size: 32px;
  float: left;
}

.footer-list{
  float: right;
}